* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-type: 'Open Sans', 'Arial', 'Helvatica', sans-serif;
    --font-size-title: 2.5em;

    --background-color: white;
    --form-background-color: #f76faf;

    --button-color: #e24b92;
    --shadow-color: #300118;
    --title-color: #500a2c;
    --text-color: black;
    --fieldset-color: #f42086;
    --select-background-color: #e16ca3;
    --input-background: #ffffff;

    --valid: green;
    --invalid: red;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-type: 'Open Sans', 'Arial', 'Helvatica', sans-serif;
        --font-size-title: 2.5em;
        --font-size: 0.8em;

        --background-color: #500a2c;
        --form-background-color: #b02f6b;
        --button-color: #e16ca3;
        --shadow-color: #300118;
        --title-color: rgb(252, 214, 220);
        --text-color: white;
        --fieldset-color: #500A2C;
        --select-background-color: #e16ca3;
        --input-background: #884373;

        --valid: rgb(5, 237, 5);
        --invalid: rgb(255, 0, 0);
    }

}

body {
    background-color: var(--background-color);
    font-family: var(--font-type);
    font-weight: 400;
    margin: 1em;
}

p,
label {
    color: var(--text-color);
    font-size: 1em;
}

p.answer {
    font-weight: bold;
    font-style: italic;
}

header {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

header section {
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
}

header a:hover,
header a:focus-within {
    outline: 0;
    border: 2px inset var(--title-color);
}

nav {
    flex: 1;
    text-align: right;
}

header nav ol {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 0.3em;
}

header nav ol a {
    color: var(--title-color);
}

main {
    width: 100%;
}

fieldset {
    border: 1px solid var(--fieldset-color);
}

textarea {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f892;
    font-size: 16px;
    color: var(--text-color);
}

textarea::placeholder{
    color: black;
}

li {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

legend {
    font-family: var(--font-type);
    font-weight: bold;
    font-size: clamp(1em, 2vw, 2em);
    margin-bottom: .5em;
    color: var(--title-color);
    font-size: 1.5em;
    margin-left: .1em;
}

select {
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: var(--select-background-color);
}

h2 {
    color: var(--title-color);
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Calligraffitti', sans-serif;
}

form>fieldset>p {
    text-align: center;
    line-height: 1.5;
}

button {
    font-size: 1em;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--form-background-color);
    border-radius: 2em;
    box-shadow: 4px 4px 10px var(--shadow-color);
}

form>fieldset {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em .5em;
    border: transparent;
}

#general {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em .5em;
    border: transparent;
    align-items: center;
}

#general label input[type="text"]:valid+span::after {
    content: 'Nice!';
    position: absolute;
    transform: translateY(.5em);
    font-size: 14px;
    font-weight: bold;
}

input[type="text"] {
    padding: 1em;
    background-color: var(--input-background);
}

input[type="radio"] {
    position: absolute;
    appearance: none;
    opacity: 0;
}

input:checked+span {
    display: inline-block;
    background-color: var(--button-color);
}

input::placeholder {
    font-family: var(--font-type);
    color: black;
}

form>fieldset>fieldset:nth-of-type(n+2) ul {
    display: flex;
    flex-wrap: wrap;
}

form>fieldset>fieldset:nth-of-type(n+2) ul li label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

form>fieldset>fieldset:nth-of-type(n+2) span {
    padding: .5em;
    width: 2em;
    height: 2em;
}

#general fieldset {
    gap: 1em;
}

label[for="name"],
label[for="snummer"],
label[for="email"] {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

input[type="tel"],
input[type="email"] {
    padding: 1em;
    background-color: var(--input-background);
}

input[type="email"]:invalid,
input:required {
    border: 2px solid var(--invalid);
}

input[type="email"]:valid,
input[type="text"]:valid {
    border: 2px solid var(--valid);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline-style: inset;
    outline-color: var(--title-color);
    outline-width: 3px;
}

form section>ul {
    display: flex;
    justify-content: center;
}

a.current {
    font-weight: bold;
    text-decoration: underline;
}

progress {
    margin-right: 1em;
    border-radius: 7px;
    width: 80%;
    height: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
    background-color: rgba(245, 222, 179, 0.281);
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: var(--background-color);
    border-radius: 7px;
}

progress::-moz-progress-bar {
    background-color: var(--text-color);
    border-radius: 7px;
}

button[type="submit"] {
    border: 1px solid var(--button-color);
    padding: 1em 1.5em;
    background-color: var(--button-color);
    color: black;
    font-family: var(--font-type);
}

button:hover,
button:focus {
    outline-style: inset;
    outline-width: 3px;
    outline-color: var(--title-color);
    color: var(--text-color);
    cursor: pointer;
}

a.previous {
    display: inline-block;
    padding: 1.08em 1.5em;
    color: black;
    background-color: var(--button-color);
    text-decoration: none;
    font-family: var(--font-type);
}

a.previous:hover,
a.previous:focus {
    outline-style: inset;
    outline-width: 3px;
    outline-color: var(--title-color);
    color: var(--text-color);
    opacity: 1;
}

@media (min-width: 40em) {
    main {
        margin: 0 auto;
        width: 50%;
    }
}